#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

.titulo-centralizado {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 15px;
}

p {
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
}

#missao {
  font-size: 18px;
  padding: 10px 0;
  font-weight: bold;
}

em strong {
  color: red;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #ffffff;
  padding: 22px;
}

.lista-beneficios {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 15%;
  font-size: 18px;
  font-weight: bold;
  list-style: disc;
}

.imagembeneficios {
  width: 50%;
}

